<!DOCTYPE html>
<html>
<head>
    @*<title>@ViewBag.Title</title>*@
    <script src="http://a.tbcdn.cn/apps/top/x/sdk.js?appkey=21277940"></script>
    <title>嗨购网_时尚女性购物社区，发现分享潮流精品，乐享购物返利</title>
    <meta name="keywords" content="旅游摄影美食,打折分享,网购优惠券领取,时尚女性购物,时尚女装,母婴用品,高跟单鞋,真皮时尚箱包,最有效的减肥,婚纱,四件套,饰品,联想电脑,苹果手机,淘宝返利,嗨淘网,HiGirl360" />
    <meta name="description" content="嗨购网(HiGirl360)推荐最新款最IN的时尚女士用品，如时尚女装，新款高跟单鞋，真皮时尚箱包，婚纱饰品，母婴用品,家用电器和减肥效果最好的产品，还可免费领取优惠券,轻松网络购物,淘宝购物最高返50%" />
    <meta name="copyright" content="HiGirl360.com" />
    <meta http-equiv="imagetoolbar" content="no">
    <meta property="qc:admins" content="124130177760171243606375" />
    <meta property="wb:webmaster" content="33a76ed6a22a2de9" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Menu/css/css.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Css", false)
    
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common.js")" type="text/javascript"></script>  
</head>
<body>

    @{Html.RenderAction("Index", "Menu", new { viewName = "_LayoutHeader" });}
    
    <section id="main">
        @RenderBody()
    </section> 
     
    <div class="footer">
        @Html.Partial("_FootPartial")
    </div>
    @RenderSection("JS", false)
</body>
</html>
